		body {
		    font-family: 'myriad-pro';
		    color: $cinzatexto;
		}
		
		header {
		    background-color: $chocolatepers;
		    color: $white;
		    height: 145px;
		    text-align: center;
		    padding: 0px 80px;
		}
		
		nav {
		    color: $sandpers;
		    font-size: 18px;
		}
		
		ul {
		    text-decoration: none;
		}
		
		li {
		    display: inline-block;
		    text-align: justify;
		    border: 1px solid;
		    padding: 10px;
		    height: 39px;
		    margin-top: -18px;
		    float: left;
		    margin-right: 13px;
		    border-top: 0;
		}
		
		section {
		    padding: 0px 46px;
		    text-align: center;
		    clear: both;
		}
		
		select,
		button {
		    background-color: transparent;
		    padding: 0px;
		    margin: 0px;
		    border: 0px;
		}
		
		table {
		    width: 100%;
		}
		
		tr td {
		    position: relative;
		    width: 165px;
		    padding: 7px;
		    border: 1px solid $goldenpers;
		    color: $chocolatepers;
		}
		
		td .close {
		    background-color: $chocolatepers;
		    color: $white;
		    font-size: 12px;
		    position: absolute;
		    top: 0px;
		    right: 0px;
		    padding: 1px 7px;
		}
		
		footer {
		    background-color: $chocolatepers;
		    margin-top: 11px;
		}