		.main {
		    width: 1000px;
		    margin: 0px auto;
		}
		
		.logo {
		    display: inline-block;
		    width: 950px;
		    margin-top: 81px;
		}
		
		.logo-comp {
		    /* display:block; */
		    float: left;
		    /* margin-right: 224px; */
		    margin-top: -21px;
		}
		
		.main-nav li a {
		    display: block;
		    text-decoration: none;
		    color: $sandpers;
		    float: left;
		}
		
		.label-nav-top {
		    display: block;
		    margin: 11px;
		    float: right;
		}
		
		.content-home {
		    display: block;
		    padding-top: 13px;
		    text-align: left;
		    font-size: 16px;
		}
		
		.btn-group-home {
		    margin: auto;
		    text-align: center;
		}
		
		.btn-group h3 {}
		
		.thumb {
		    display: inline-block;
		    margin: 0px auto;
		    width: 250px;
		    border: 1px solid $lightpers;
		    text-decoration: none;
		}
		
		.thumb div {
		    padding: 28px;
		    padding-bottom: 0;
		}
		
		.thumb p {
		    text-align: center;
		    padding: 10px;
		    background-color: $lightpers;
		    margin: 0px;
		    color: $laranja;
		    font-size: 18px;
		}
		
		.popup {
		    border: 1px solid $lightpers;
		    padding-right: 30px;
		    position: absolute;
		    z-index: 100;
		    background: $lightpers;
		    -webkit-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.11);
		    -moz-box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.11);
		    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.11);
		    width: 872px;
		}
		
		.popup .esq,
		.popup .dir {
		    display: inline-block;
		    /* vertical-align: top; */
		    /* text-align: left; */
		}
		
		.esq {
		    width: 564px;
		    text-align: left;
		    padding: 52px;
		}
		
		.dir {
		    width: 198px;
		    border-right: 1px solid $lightpers;
		    padding: 80px 0;
		    text-align: center;
		    vertical-align: top;
		}
		
		.esq img {
		    display: inline-block;
		    margin: 0px 15px 0px 5px;
		}
		
		.esq p:nth-child(3) {
		    display: inline-block;
		    width: 93%;
		    margin: 0px;
		    vertical-align: top;
		    text-align: left;
		}
		
		.popup .close {
		    background-color: $chocolatepers;
		    color: $white;
		    font-size: 18px;
		    position: absolute;
		    top: 10px;
		    right: 10px;
		    padding: 7px 12px 5px 12px;
		    cursor: pointer;
		}
		
		.search input {
		    margin: 0px -5px 0px 0px !important;
		    display: inline-block;
		    vertical-align: top;
		    height: 52px;
		    border: 0px;
		    width: 88%;
		    background-color: $lightpers;
		    padding: 0px 20px;
		}
		
		.search button {
		    display: inline-block;
		    vertical-align: top;
		    width: 50px;
		}
		
		.result {
		    margin: 0px -5px 0px 0px !important;
		    display: inline-block;
		    vertical-align: top;
		    height: 52px;
		    border: 0px;
		    width: 100%;
		    background-color: $lightpers;
		    padding: 0px 20px;
		}
		
		.border {
		    border: 1px solid $lightpers;
		    padding: 25px 30px 35px 25px;
		}
		
		.search-table input,
		.search-table button {
		    display: inline-block;
		    border: 0px;
		    vertical-align: top;
		    margin: 0px;
		}
		
		.search-table input {
		    width: 106px;
		    background-color: $lightpers;
		    height: 32px;
		    margin-right: -5px;
		}
		
		.indice {
		    padding: 0px;
		}
		
		.indice li {
		    width: 24%;
		}
		
		.indice span {
		    display: inline-block;
		    vertical-align: top;
		    border-radius: 100px;
		    width: 18px;
		}
		
		.indice p {
		    display: inline-block;
		    width: 140px;
		    vertical-align: top;
		    margin: 0;
		    font-size: 14px;
		    font-weight: 100;
		    text-align: left;
		}
		
		.main {
		    display: none;
		}
		
		.selo-uso {
		    margin-top: 45px;
		    margin-bottom: 0;
		    margin-left: 85px;
		}
		
		.modal-home>.modal {
		    display: none;
		}