    <a name="investimento">&nbsp;</a>
    <div class="main">
        <header>
            <img src="images/setas.png" alt="icone" />
            <h1>Comparador de investimentos</h1>
            <div class="logo">
                <img src="images/logo.png" alt="logo">
            </div>
        </header>
        <nav>
            <ul>
                <li>
                    <a href=""><img src="images/home.png" alt="Home"></a>
                </li>
                <li>
                    <a href=""><img src="images/icon-investimento.png" alt="icon">
                        <span class="label-nav-top">Fundos de Investimento</span></a>
                </li>
                <li>
                    <a href=""><img src="images/icon-previdencia.png" alt="icon"><span class="label-nav-top">Fundos de Previdência</span></a>
                </li>
            </ul>
        </nav>
        <section>
            <p>A tradução da essência Personnalité – <b>sentir, servir, surpreender</b> – é fazer a diferença na vida do cliente, participando do seu crescimento. Para isso, precisamos cuidar também de seus investimentos.</p>
            <p>Sem abrir mão de um atendimento próximo, que supere as expectativas, você pode utilizar esta ferramenta, que <b>compara até quatro tipos de fundo ao mesmo tempo,</b> como apoio </p>
            <h2>Escolha o <b>tipo de simulação</b> clicando abaixo:</h2>
        </section>
        <footer>&nbsp;</footer>
    </div>