    <div class="main">
        <header>
            <img src="images/setas.png" alt="icone" />
            <h1>Comparador de investimentos</h1>
            <div class="logo">
                <img src="images/logo.png" alt="logo">
            </div>
        </header>
        <nav>
            <ul>
                <li>
                    <a href=""><img src="images/home.png" alt="Home"></a>
                </li>
                <li>
                    <a href=""><img src="images/icon-investimento.png" alt="icon">Fundos de Investimento</a>
                </li>
                <li>
                    <a href=""><img src="images/icon-previdencia.png" alt="icon">Fundos de Previdência</a>
                </li>
            </ul>
        </nav>
        <section>
            <h2> Digite o <b>CNPJ</b> ou <b>nome do fundo</b> concorrente para fazer a sua busca.</h2>
            <div class="border">
                <div class="search">
                    <input type="text" name="" value="06.022.022/0142-65" />
                    <button><img src="images/lupa.png" alt="Lupa" /></button>
                </div>
                <p>Nome do produto concorrente:</p>
                <h2>BTG PACTUAL ANDRÔMEDA FI AÇÕES</h2>
                <hr/>
                <!-- TAB -->
                <ul class="abas">
                    <li>
                        <a href=""> Proposta </a>
                    </li>
                    <li>
                        <a href=""> Comparação de Rentabilidade </a>
                    </li>
                    <li>
                        <a href=""> Risco X Retorno </a>
                    </li>
                </ul>
                <!-- TABELA PROPOSTA -->
                <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <td>Produto</td>
                            <td>
                                BTG PACTUAL ANDRÔMEDA FIAÇÕES
                            </td>
                            <td>
                                ITAÚ PERSONNALITÉ IBOVESPA ATIVO FIC AÇÕES
                                <div class="close">X</div>
                            </td>
                            <td>
                                <div class="search-table">
                                    <input type="text" name="" value="06.022.02">
                                    <button><img src="images/lupa-table.png" alt="Pesquisa" /></button>
                                </div>
                            </td>
                            <td>
                                <div class="search-table">
                                    <input type="text" name="">
                                    <button><img src="images/lupa-table.png" alt="Pesquisa" /></button>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Estratégia
                            </td>
                            <td>Ações</td>
                            <td>Ações</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>
                                Patrimônio Líquido
                            </td>
                            <td>R$ 85.890.963,84</td>
                            <td>R$ 85.890.963,84</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>
                                Taxa Adm.
                            </td>
                            <td>2,000%</td>
                            <td>2,000%</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>
                                Taxa Máx.
                            </td>
                            <td>Não possui</td>
                            <td>Não possui</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>
                                Taxa de Performance
                            </td>
                            <td>Não possui</td>
                            <td>Não possui</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>
                                Taxa de Resgate
                            </td>
                            <td>Não possui</td>
                            <td>Não possui</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>
                                Horário Limite Aplicação
                            </td>
                            <td>16:15</td>
                            <td>16:15</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>
                                Aplicação Mínima
                            </td>
                            <td>R$ 2.000,00</td>
                            <td>R$ 2.000,00</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>
                                Conversão da Cota para Resgate
                            </td>
                            <td>D+1</td>
                            <td>D+1</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>
                                Aberto para Captação
                            </td>
                            <td>Sim</td>
                            <td>Sim</td>
                            <td> </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <br>
            </div>
            <!-- CONTEUDO DA TAB RENTABILIDADE  -->
            <h2> Digite o <b>CNPJ</b> ou <b>nome do fundo</b> concorrente para fazer a sua busca.</h2>
            <div class="border">
                <div class="search">
                    <input type="text" name="" value="06.022.022/0142-65" />
                    <button><img src="images/lupa.png" alt="Lupa" /></button>
                </div>
                <p>Nome do produto concorrente:</p>
                <h2>BTG PACTUAL ANDRÔMEDA FI AÇÕES</h2>
                <hr/>
                <!-- TAB -->
                <ul class="abas">
                    <li>
                        <a href=""> Proposta </a>
                    </li>
                    <li>
                        <a href=""> Comparação de Rentabilidade </a>
                    </li>
                    <li>
                        <a href=""> Risco X Retorno </a>
                    </li>
                </ul>
                <!-- TABELA COMPARAÇÃO DE RENTABILIDADE -->
                <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <td>Produto</td>
                            <td>
                                BTG PACTUAL ANDRÔMEDA FIAÇÕES
                            </td>
                            <td>
                                ITAÚ PERSONNALITÉ IBOVESPA ATIVO FIC AÇÕES
                                <div class="close">X</div>
                            </td>
                            <td>
                                <div class="search-table">
                                    ITAÚ MULTIFUNDOS FIC AÇÕES
                                    <div class="close">X</div>
                                </div>
                            </td>
                            <td>
                                <div class="search-table">
                                    <input type="text" name="">
                                    <button><img src="images/lupa-table.png" alt="Pesquisa" /></button>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Mês </td>
                            <td> 6.50% </td>
                            <td> 6.50% </td>
                            <td> 6.50% </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> Ano </td>
                            <td> 17.17% </td>
                            <td> 17.17% </td>
                            <td> 17.17% </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> 12 meses </td>
                            <td> -4.85% </td>
                            <td> -4.85% </td>
                            <td> -4.85% </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> 24 meses </td>
                            <td> -8.52% </td>
                            <td> -8.52% </td>
                            <td> -8.52% </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> 36 meses </td>
                            <td> -1.14% </td>
                            <td> -1.14% </td>
                            <td> -1.14% </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> Últimos 12 meses </td>
                            <td> 26.57% </td>
                            <td> 26.57% </td>
                            <td> 26.57% </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
                <h3> Benchmarks </h3>
                <table cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <td>Produto</td>
                            <td> CDI </td>
                            <td> IPCA </td>
                            <td> Poupança </td>
                            <td> Ibovespa </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> Mês </td>
                            <td> 6.50% </td>
                            <td> 6.50% </td>
                            <td> 6.50% </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> Ano </td>
                            <td> 17.17% </td>
                            <td> 17.17% </td>
                            <td> 17.17% </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> 12 meses </td>
                            <td> -4.85% </td>
                            <td> -4.85% </td>
                            <td> -4.85% </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> 24 meses </td>
                            <td> -8.52% </td>
                            <td> -8.52% </td>
                            <td> -8.52% </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> 36 meses </td>
                            <td> -1.14% </td>
                            <td> -1.14% </td>
                            <td> -1.14% </td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td> Últimos 12 meses </td>
                            <td> 26.57% </td>
                            <td> 26.57% </td>
                            <td> 26.57% </td>
                            <td> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- CONTEUDO DA TAB RENTABILIDADE  -->
            <h2> Digite o <b>CNPJ</b> ou <b>nome do fundo</b> concorrente para fazer a sua busca.</h2>
            <div class="border">
                <div class="search">
                    <input type="text" name="" value="06.022.022/0142-65" />
                    <button><img src="images/lupa.png" alt="Lupa" /></button>
                </div>
                <p>Nome do produto concorrente:</p>
                <h2>BTG PACTUAL ANDRÔMEDA FI AÇÕES</h2>
                <hr/>
                <!-- TAB -->
                <ul class="abas">
                    <li>
                        <a href=""> Proposta </a>
                    </li>
                    <li>
                        <a href=""> Comparação de Rentabilidade </a>
                    </li>
                    <li>
                        <a href=""> Risco X Retorno </a>
                    </li>
                </ul>
                <!-- GRAFICO -->
                <H3>Últimos 12 meses &bull; data base 29/03/2016 </H3>
                <div class="border">
                    <img src="images/grafico.png" alt="grafico">
                    <hr>
                    <ul class="indice">
                        <li>
                            <span style="background-color: #fff200;">&nbsp;</span>
                            <p>BTG PACTUAL ANDRÔMEDA FI AÇÕES</p>
                        </li>
                        <li>
                            <span style="background-color: #4f7a90;">&nbsp;</span>
                            <p>ITAÚ PERSONNALITÉ IBOVESPA ATIVO FIC AÇÕES</p>
                        </li>
                        <li>
                            <span style="background-color: #e0d9cb;">&nbsp;</span>
                            <p>ITAÚ MULTIFUNDOS FIC AÇÕES</p>
                        </li>
                        <li>
                            <span style="background-color: #7cd9cb;">&nbsp;</span>
                            <p>ITAÚ PERSONNALITÉ VALUATION FIC AÇÕES</p>
                        </li>
                    </ul>
                </div>
                <h4>Como ler este gráfico: </h4>
                <img src="images/grafico-indice.png" alt="Gráfico indice" />
                <p>Área laranja: investimentos bons</p>
                <p>Área marrom: investimentos ruins</p>
            </div>
        </section>
        <footer>&nbsp;</footer>
    </div>