@font-face {
  font-family: 'myriad-pro';
  src: url('MYRIADPRO-SEMIBOLD.eot'); /* IE9 Compat Modes */
  src: url('MYRIADPRO-SEMIBOLD.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('MYRIADPRO-SEMIBOLD.woff') format('woff'), /* Modern Browsers */
       url('MYRIADPRO-SEMIBOLD.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('MYRIADPRO-SEMIBOLD.svg#svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

